{% extends 'main.html' %}

{% block content %}
    <button id="btn-send-offer">Send Offer SDP</button>
    <!-- <button id="btn-get-answer">Get Answer SDP</button> -->

    <script type="text/javascript">

        var loc = window.location;

        var endPoint = '';
        var wsStart = 'ws://';

        if(loc.protocol == 'https'){
            wsStart = 'wss://';
        }

        var endPoint = wsStart + loc.host + loc.pathname;

        var webSocket = new WebSocket(endPoint);

        webSocket.onopen = function(e){
            console.log('Connection opened! ', e);
            // webSocket.send(
            //     JSON.stringify(
            //         {
            //             'message': 'Hello',
            //         }
            //     )
            // );
        }

        webSocket.onmessage = webSocketOnMessage;

        webSocket.onclose = function(e){
            console.log('Connection closed! ', e);
        }

        webSocket.onerror = function(e){
            console.log('Error occured! ', e);
        }

        var btnSendOffer = document.querySelector('#btn-send-offer');
        // var btnGetAnswer = document.querySelector('#btn-get-answer');

        btnSendOffer.onclick = btnSendOfferOnClick;

        function webSocketOnMessage(event){
            var parsed_data = JSON.parse(event.data);

            console.log('parsed_data.type: ', parsed_data['message']['type']);

            // return if type == offer
            // to avoid setting wrong sdp
            // as offer will be sent by this peer
            if(parsed_data['message']['type'] == 'offer'){
                return;
            }

            const answer = parsed_data['message'];
            console.log('Answer received: ', answer);

            peer1.setRemoteDescription(answer);
        }


        const peer1 = new RTCPeerConnection();
        const dc = peer1.createDataChannel("channel");
        
        // dc.onmessage = e => console.log("Just got a message: " + e.data);
        dc.onmessage = dcOnMessage
        dc.onopen = e => console.log("Connection opened.");
        peer1.onicecandidate = e => console.log("New Ice Candidate! Reprinting SDP" + JSON.stringify(peer1.localDescription));

        peer1.createOffer().then(o => peer1.setLocalDescription(o)).then(a => console.log("Set successfully."));

        function btnSendOfferOnClick(event){
            webSocket.send(
                JSON.stringify(
                    {
                        'action': 'send-offer',
                        'message': peer1.localDescription,
                    }
                )
            );
        }

        var btnSendMsg = document.querySelector('#btn-send-msg');
        btnSendMsg.onclick = btnSendMsgOnClick;

        var ul = document.querySelector("#message-list");

        function btnSendMsgOnClick(){
            var messageInput = document.querySelector('#msg');
            var message = messageInput.value;
            
            var li = document.createElement("li");
            li.appendChild(document.createTextNode("Me: " + message));
            ul.appendChild(li);
            
            console.log('Sending: ', message);

            dc.send(message);
            
            messageInput.value = '';
        }

        function dcOnMessage(event){
            var message = event.data;
            
            var li = document.createElement("li");
            li.appendChild(document.createTextNode("Other: " + message));
            ul.appendChild(li);
        }

    </script>
{% endblock %}