{% extends 'main.html' %}

{% block content %}
    <!-- <div>
        <video id="local-video" style="float: left;" autoplay playsinline width="50%" height="50%"></video>
        <video id="remote-video" style="float: right;" autoplay playsinline width="50%" height="50%"></video>
    </div> -->
    <div>
        <button id="btn-send-offer">Send Offer SDP</button>
        <!-- <button id="btn-play-remote-video" style="visibility: hidden">Click to view remote video</button> -->
    </div>
    <!-- <button id="btn-get-answer">Get Answer SDP</button> -->
	<script type="text/javascript">
		const constraints = {
			'video': true,
			'audio': true
		}
		var localStream = new MediaStream();
		userMedia = navigator.mediaDevices.getUserMedia(constraints)
			.then(stream => {
				localStream = stream;
				console.log('Got MediaStream:', stream);
				mediaTracks = stream.getTracks();
				
				for(i=0; i < mediaTracks.length; i++){
					console.log(mediaTracks[i]);
				}
				
                const localVideo = document.querySelector('#local-video');
                localVideo.srcObject = localStream;
                localVideo.muted = true;

				window.stream = stream; // make variable available to browser console
			})
            .then(e => {
                var loc = window.location;

                var endPoint = '';
                var wsStart = 'ws://';
                
                console.log('protocol: ', loc.protocol);
                if(loc.protocol == 'https:'){
                    wsStart = 'wss://';
                }

                var endPoint = wsStart + loc.host + loc.pathname;

                var webSocket = new WebSocket(endPoint);

                webSocket.onopen = function(e){
                    console.log('Connection opened! ', e);
                }

                webSocket.onmessage = webSocketOnMessage;

                webSocket.onclose = function(e){
                    console.log('Connection closed! ', e);
                }

                webSocket.onerror = function(e){
                    console.log('Error occured! ', e);
                }

                var btnSendOffer = document.querySelector('#btn-send-offer');

                btnSendOffer.onclick = btnSendOfferOnClick;

                function webSocketOnMessage(event){
                    var parsed_data = JSON.parse(event.data);
                    
                    var action = parsed_data['action'];

                    if(parsed_data['peer'] == 'peer1'){
                        // ignore all messages from oneself
                        return;
                    }else if(action == 'peer2-candidate'){
                        console.log('Adding new ice candidate.')
                        peer1.addIceCandidate(parsed_data['message']);
                        return;
                    }

                    const thisPeer = parsed_data['peer'];
                    const answer = parsed_data['message'];
                    console.log('thisPeer: ', thisPeer);
                    console.log('Answer received: ', answer);

                    peer1.setRemoteDescription(answer);
                }
                
                const iceConfiguration = {
                    iceServers: [
                        {
                            urls: ['turn:numb.viagenie.ca'],
                            credential: '{{numb_turn_credential}}',
                            username: '{{numb_turn_username}}'
                        }
                    ]
                };
                const peer1 = new RTCPeerConnection(null);
                
                localStream.getTracks().forEach(track => {
                    peer1.addTrack(track, localStream);
                });

                const dc = peer1.createDataChannel("channel");
                dc.onmessage = dcOnMessage
                dc.onopen = e => {
                    console.log("Connection opened.");

                    // make play button visible
                    // upon connection
                    // to play video in case
                    // browser blocks it
                    btnPlayRemoteVideo.style.visibility = 'visible';
                }
                
                peer1.onicecandidate = (event) => {
                    if(event.candidate){
                        console.log("New Ice Candidate! Reprinting SDP" + JSON.stringify(peer1.localDescription));
                    }else{
                        console.log('Gathering finished!');
                    }
                }

                const remoteStream = new MediaStream();
                const remoteVideo = document.querySelector('#remote-video');
                remoteVideo.srcObject = remoteStream;

                peer1.addEventListener('track', async (event) => {
                    remoteStream.addTrack(event.track, remoteStream);
                });

                // as user gesture
                // video is played by button press
                // otherwise, some browsers might block video
                var btnPlayRemoteVideo = document.querySelector('#btn-play-remote-video');
                btnPlayRemoteVideo.addEventListener("click", function (){
                    remoteVideo.play();
                    btnPlayRemoteVideo.style.visibility = 'hidden';
                });

                peer1.createOffer()
                    .then(o => peer1.setLocalDescription(o))
                    .then(function(event){
                        console.log("Local Description Set successfully.");
                    });

                // send the given action and message strings
                // over the websocket connection
                function sendSignal(thisPeer, action, message){
                    webSocket.send(
                        JSON.stringify(
                            {
                                'peer': thisPeer,
                                'action': action,
                                'message': message,
                            }
                        )
                    )
                }

                function btnSendOfferOnClick(event){
                    sendSignal('peer1', 'send-offer', peer1.localDescription);

                    btnSendOffer.style.visibility = 'hidden';
                }

                var btnSendMsg = document.querySelector('#btn-send-msg');
                btnSendMsg.onclick = btnSendMsgOnClick;

                var ul = document.querySelector("#message-list");

                function btnSendMsgOnClick(){
                    var messageInput = document.querySelector('#msg');
                    var message = messageInput.value;
                    
                    var li = document.createElement("li");
                    li.appendChild(document.createTextNode("Me: " + message));
                    ul.appendChild(li);
                    
                    console.log('Sending: ', message);

                    dc.send(message);
                    
                    messageInput.value = '';
                }

                function dcOnMessage(event){
                    var message = event.data;
                    
                    var li = document.createElement("li");
                    li.appendChild(document.createTextNode("Other: " + message));
                    ul.appendChild(li);
                }
            })
			.catch(error => {
				console.error('Error accessing media devices.', error);
			});
	</script>
    <!-- <script type="text/javascript">

        var loc = window.location;

        var endPoint = '';
        var wsStart = 'ws://';

        if(loc.protocol == 'https'){
            wsStart = 'wss://';
        }

        var endPoint = wsStart + loc.host + loc.pathname;

        var webSocket = new WebSocket(endPoint);

        webSocket.onopen = function(e){
            console.log('Connection opened! ', e);
            // webSocket.send(
            //     JSON.stringify(
            //         {
            //             'message': 'Hello',
            //         }
            //     )
            // );
        }

        webSocket.onmessage = webSocketOnMessage;

        webSocket.onclose = function(e){
            console.log('Connection closed! ', e);
        }

        webSocket.onerror = function(e){
            console.log('Error occured! ', e);
        }

        var btnSendOffer = document.querySelector('#btn-send-offer');
        // var btnGetAnswer = document.querySelector('#btn-get-answer');

        btnSendOffer.onclick = btnSendOfferOnClick;

        function webSocketOnMessage(event){
            var parsed_data = JSON.parse(event.data);
            
            var action = parsed_data['action'];

            // console.log('parsed_data.type: ', parsed_data['message']['type']);

            if(parsed_data['peer'] == 'peer1'){
                // ignore all messages from oneself
                return;
            }else if(action == 'peer2-candidate'){
                console.log('Adding new ice candidate.')
                peer1.addIceCandidate(parsed_data['message']);
                return;
            }

            const thisPeer = parsed_data['peer'];
            const answer = parsed_data['message'];
            console.log('thisPeer: ', thisPeer);
            console.log('Answer received: ', answer);

            peer1.setRemoteDescription(answer);
        }

        const iceConfiguration = {
            iceServers: [
                {
                    urls: ['turn:numb.viagenie.ca'],
                    credential: 'HomieChatDemo',
                    username: 'kamruzzamantauhid@gmail.com'
                }
            ]
        };
        const peer1 = new RTCPeerConnection(iceConfiguration);
        localStream.getTracks().forEach(track => {
            lc.addTrack(track, localStream);
        });
        const dc = peer1.createDataChannel("channel");
        
        // dc.onmessage = e => console.log("Just got a message: " + e.data);
        dc.onmessage = dcOnMessage
        dc.onopen = e => console.log("Connection opened.");
        // peer1.onicecandidate = e => console.log("New Ice Candidate! Reprinting SDP" + JSON.stringify(peer1.localDescription));
        peer1.onicecandidate = (event) => {
            if(event.candidate){
                console.log("New Ice Candidate! Reprinting SDP" + JSON.stringify(peer1.localDescription));
                // sendSignal('peer1', 'peer1-candidate', event.candidate);
            }else{
                console.log('Gathering finished?');
            }
        }

        peer1.createOffer()
            .then(o => peer1.setLocalDescription(o))
            .then(function(event){
                console.log("Local Description Set successfully.");
            });

        // send the given action and message strings
        // over the websocket connection
        function sendSignal(thisPeer, action, message){
            webSocket.send(
                JSON.stringify(
                    {
                        'peer': thisPeer,
                        'action': action,
                        'message': message,
                    }
                )
            )
        }

        function btnSendOfferOnClick(event){
            localStream.getTracks().forEach(track => {
                peer1.addTrack(track, localStream);
            });

            sendSignal('peer1', 'send-offer', peer1.localDescription);

            btnSendOffer.style.visibility = 'hidden';
        }

        var btnSendMsg = document.querySelector('#btn-send-msg');
        btnSendMsg.onclick = btnSendMsgOnClick;

        var ul = document.querySelector("#message-list");

        function btnSendMsgOnClick(){
            var messageInput = document.querySelector('#msg');
            var message = messageInput.value;
            
            var li = document.createElement("li");
            li.appendChild(document.createTextNode("Me: " + message));
            ul.appendChild(li);
            
            console.log('Sending: ', message);

            dc.send(message);
            
            messageInput.value = '';
        }

        function dcOnMessage(event){
            var message = event.data;
            
            var li = document.createElement("li");
            li.appendChild(document.createTextNode("Other: " + message));
            ul.appendChild(li);
        }

    </script> -->
{% endblock %}